<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <section class="login">
        <h1>Login</h1>
        <form action="/auth" method="post">
            <label for="username">
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="username" id="username" placeholder="Username">
            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password" id="password" placeholder="Password">
            <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>// Temporary fix
            <button type="submit">Login</button>
        </form>
    </section>
</body>
<script>
    const togglePassword = document.getElementById('togglePassword');
    const password = document.getElementById('password');
  
    togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});
</script>// Temporary fix
</html>